* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("Afbeeldingen/zoomfotowinkel.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: sticky;
  top: 0;
  background-color: #7B8B70;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

header img {
  max-width: 25%;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: fit-content;
}

/* Home-pagina */

.airfryer {
  background-color: #CCB8E0;
  display: flex;
  flex-direction: row;
  margin: 50px;
  padding: 30px;
}

.img-airfryer {
  padding-right: 15px;
}

.text-airfryer {
  background-color: #CCB8E0;
  padding-left: 15px;
  max-width: 50%;
  font-size: 13.5px;
}

.fietspomp {
  background-color: #CCB8E0;
  display: flex;
  flex-direction: row;
  margin: 50px;
  padding: 30px;
}

.img-fietspomp {
  padding-left: 15px;
}

.text-fietspomp {
  background-color: #CCB8E0;
  padding-right: 15px;
  max-width: 50%;
  font-size: 14px;
}

.mixer-handboor {
  display: flex;
  flex-direction: row;
}

.mixer {
  background-color: #CCB8E0;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 15px;
}

.img-mixer {
  padding-right: 7.5px;
}

.text-mixer {
  background-color: #CCB8E0;
  padding-left: 7.5px;
  max-width: 50%;
  font-size: 13px;
}

.handboor {
  background-color: #CCB8E0;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 15px;
}

.img-handboor {
  padding-right: 7.5px;
}

.text-handboor {
  background-color: #CCB8E0;
  padding-left: 7.5px;
  max-width: 50%;
  font-size: 13px;
}

/* Process-pagina */

.process {
  background-color: #CCB8E0;
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 50px;
  align-items: center;
}

.process img {
  max-width: 50%;
  max-height: fit-content;
  padding: 25px;
}

/* About-pagina */

.about {
  background-color: #CCB8E0;
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

.about img {
  max-width: 50%;
  max-height: fit-content;
}

.about p {
  padding-left: 15px;
  padding-right: 5px;
  max-width: 50%;
  font-size: 24px;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: #7B8B70;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 40px;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

nav a {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

nav a img {
  width: 70x;
  height: 70px;
  padding: 0 0 10px 0;
  margin: 0 100px 0 100px;
}